#headerproductos {
    background: linear-gradient(rgba(255, 255 ,255 , .0), rgba(255, 255 ,255 , .0)), url("../img/fondoproductosycapturas/f16.jpg") fixed center center;
	background-attachment:fixed;
	background-color: #272833;
	background-position: center center;
	background-size: cover;
	position: relative;
	text-align: center;
	z-index: 21;
	min-height: 750px;
	margin-top:-10px;
}

#headerproductos .container{
	padding-top:150px;
}

#headerproductos .headerproductos-titulos {
	color:#ffffff;
}

#headerproductos h1 {
	margin-top: 80px;
	padding:3% 5px 3% 5px;
	font-size:90px;
	border: 3px solid #ffffff;
	background: rgba(0,0,0,0.2);
	font-family: 'arial';
	word-wrap: break-word;
}

#headerproductos p {
	text-shadow:#000000 2px 2px 5px;
	padding: 10px;
	font-size:25px;
	margin-top:-17px;
}


#headerproductos .cuadro {
	border-radius: 100%;
	margin: 5% 1% 1% 1%;
    text-align:center;
    background: rgba(255,255,255,0.9);
} 

#headerproductos .cuadro img {
	width: 70%;
	vertical-align: middle;
	margin-top:60px;
	margin-bottom:60px;
}

#headerproductos #ir-inf-Sistema{
	position: absolute;
  	bottom: 30px;
  	left: 0;
  	right: 0;
}

.fa-circle{
	color: rgba(0,81,132,0.5);
	-webkit-transition:0.5s;
  	-moz-transition:0.5s;
  	-o-transition:0.5s;
  	transition: 0.5s;
}
.fa-angle-double-down{
	color:#ffffff;
	-webkit-transition:0.5s;
  	-moz-transition:0.5s;
  	-o-transition:0.5s;
  	transition: 0.5s;
}
#ir-inf-Sistema:hover .fa-circle{
	color:rgba(255,255,255,0.9);
}

#ir-inf-Sistema:hover .fa-angle-double-down{
	color: rgba(0,81,132,1);
}

.moduloProducto {
	font-family: 'Source Sans Pro', sans-serif;
	
}

.moduloProducto h2 {
	text-align: center;
	font-weight: bold;
	font-size: 200%;
	text-decoration: underline;
	word-wrap: break-word;
}

.moduloProducto div {
	border: 2px solid #7C7C7C;
	border-radius: 15px;
	padding: 15px 15px 15px 15px;
	background-color: rgba(32, 121, 232, 0.6);
	font-family: Georgia, serif, Times;
	font-size: 18px;
}

.moduloProducto dt {
	padding: 10px 0 15px 0;
	cursor: pointer;
	border-bottom: 1px solid #7C7C7C;
	font-weight: normal;
}

.moduloProducto dd {
	padding-right: 10px;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #7C7C7C;
	text-align: justify;
	font-size: 15px;
}

.descripcionProducto h1 {
	color: #000000;
	text-align: center;
	overflow: hidden;
	font-size: 80px;
	font-style: italic;
	font-family: sans-serif;
	word-wrap: break-word;
}

.descripcionProducto h2 {
	text-align:center;
	font-size: 25px;
	color: #002762;
}

.descripcionProducto p {
	color: black;
    background: white;
	border-radius: 0;
	font-size: 18px;
	text-align: justify;
	
}

.descripcionProducto img{
	padding: 2px 2px 2px 0;
}

.descripcionProducto .brn-btn {
	margin-left: 25px;
}

.btn-mas {
	word-wrap: break-word;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	margin-top: 50px;
	border: 0;
	font-size: 15px;
	line-height: 24px;
	padding: 10px 15px;
	border: 1px solid #000000;
	color: #000000;
	border-radius: 60px;
	margin: 0;
	outline: none !important;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: all 0.3s;
}

.btn-mas a{
	word-wrap: break-word;
}

.btn-mas:focus {
	border: 1px solid #000000;
	color: #000000;
}

.btn-mas:hover {
	background: #3465a4;
	color: #fff;
}

.btn-download {
	text-transform: uppercase;
	margin-top: 50px;
	color: #ffffff;
	background:#2079e8;
	border: 0;
	font-size: 15px;
	line-height: 24px;
	padding: 10px 30px;
	border-radius: 60px;
	border: 1px solid #3465a4;
	margin: 20px 10px 0 0;
	outline: none !important;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	
}

.btn-download:focus {
	border: 1px solid #3465a4;
	background: #009bff;
	color: #fff;
}

.btn-download:hover {
	background: #2079e8;
	color: #fff;
}
.btn-download:focus .fa{
	color: #fff;
}
.btn-download:hover .fa{
	color: #fff;
}

.img-left {
	padding: 0 10px 10px 0;
	float: left;
	background: white;
	text-align: center;
	border-radius: 0;
	text-align: justify;
	width: 40%;
}

.img-right {
	padding: 0 0 10px 10px;
	float: right;
	background: white;
	text-align: center;
	border-radius: 0;
	text-align: justify;
	width: 40%;
}

dl{
	margin-left:-15px;
	margin-right:-15px;
}

.dt1 {
	cursor: pointer;
	padding: 10px 20px 10px 20px;
	font-size:15px;
	text-align:left;
	border-top: 6px solid #002762;
	border-left: 1px solid #002762;
	border-right: 1px solid #002762;
	border-bottom: 1px solid #002762;
	border-radius: 10px;
	margin-top: 20px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.dd1 {
	border-top-style: ridge;
	border-right-style: ridge;
	border-left-style: ridge;
	border-bottom-style: ridge;
	border-width: 4px;
	padding: 20px 10px 20px 40px;
}
.dd1 img {
	width:370px;
	
}
.descripcionProducto .fa {
	color: rgb(32, 121, 232);
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.dt1:hover {
	color: #ffffff;
	background: rgb(32, 121, 232);
}

.dt1:hover .fa {
	color: #ffffff;
}

.dt2 {
	cursor: pointer;
	padding-top: 1em;
	font-weight: normal;
}

.fa-first-order {
	color: rgb(32, 121, 232);
	-webkit-transition: color 300ms, background-color 300ms;
	-moz-transition: color 300ms, background-color 300ms;
	-o-transition: color 300ms, background-color 300ms;
	transition: color 300ms, background-color 300ms;
}

.dt2:hover{
	color: rgb(32, 121, 232);
}

.dd2 {
	padding-left: 20px;
	padding-right: 20px;
	text-align: justify;
}
/*
.img-left{
	padding: 0;
	float: left;
	margin: 1em 2em 1em 0;
    width:400px;
	
}
.img-right{
	padding: 0;
	float: right;
	margin: 1em 0em 1em 2em;
    width:400px;
}
*/


.captura{
	padding: 10px 20px 10px 20px;
	background:#ffffff;
	font-size:15px;
	font-weight: bold;
	text-align:left;
	border-top: 6px solid #002762;
	border-left: 1px solid #002762;
	border-right: 1px solid #002762;
	border-bottom: 1px solid #002762;
	border-radius: 10px;
	margin-top: 3px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.captura:hover {
	color: #ffffff;
	background: rgb(32, 121, 232);
}

.captura:hover .fa {
	color: #ffffff;
}

.img-captura {
	display: none ;
	width:100%;
	margin-left:-15px;
	border-top-style: ridge;
	border-right-style: ridge;
	border-left-style: ridge;
	border-bottom-style: ridge;
	border-width: 4px;
	padding: 20px 10px 20px 10px;
}

.img-captura img{
	width:300px;
	display: inline-block;
	margin-right:5px;
}

/***********************
Responsive media queries
***********************/
@media screen and (min-width: 1367px){
	#headerproductos h1 {
	font-size:90px;
	}
	.descripcionProducto h1 {
	font-size: 90px;
	}
}

@media screen and (max-width: 1366px){
	#headerproductos h1 {
	font-size:90px;
	}
	.descripcionProducto h1 {
	font-size: 90px;
	}
}

@media screen and (max-width: 1366px){
	#headerproductos h1 {
	font-size:75px;
	}
	.descripcionProducto h1 {
	font-size: 75px;
	}
}

@media screen and (max-width: 1024px){
	#headerproductos h1 {
	font-size:50px;
	}
	.descripcionProducto h1 {
	font-size: 50px;
	}
	
}
@media screen and (max-width: 800px){
	#headerproductos h1 {
	font-size:40px;
	}
	.descripcionProducto h1 {
	font-size: 40px;
	}
}

@media screen and (max-width: 768px){
	#headerproductos h1 {
	font-size:40px;
	}
	.descripcionProducto h1 {
	font-size: 40px;
	}
}
@media screen and (max-width: 640px){
	#headerproductos h1 {
	font-size:35px;
	}
	.descripcionProducto h1 {
	font-size: 35px;
	}
}
@media screen and (max-width: 600px){
	#headerproductos h1 {
	font-size:35px;
	}
	.descripcionProducto h1 {
	font-size: 35px;
	}
}
@media screen and (max-width: 414px){
	#headerproductos h1 {
	font-size:25px;
	}
	.descripcionProducto h1 {
	font-size: 25px;
	}
}
@media screen and (max-width: 412px){
	#headerproductos h1 {
	font-size:30px;
	}
	.descripcionProducto h1 {
	font-size: 30px;
	}
}

@media screen and (max-width: 384px){
	#headerproductos h1 {
	font-size:35px;
	}
	.descripcionProducto h1 {
	font-size: 35px;
	}
}

@media screen and (max-width: 375px){
	#headerproductos h1 {
	font-size:35px;
	}
	.descripcionProducto h1 {
	font-size: 35px;
	}
}
@media screen and (max-width: 360px){
	#headerproductos h1 {
	font-size:30px;
	}
	.descripcionProducto h1 {
	font-size: 30px;
	}
}
@media screen and (max-width: 320px){
	#headerproductos h1 {
	font-size:30px;
	}
	.descripcionProducto h1 {
	font-size: 30px;
	}
}